################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JWTCoreApi/bin
/JWTCoreApi/obj